body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a + a {
  margin-left: 3rem;
}

a {
  margin-top: 2rem;
}

input {
  display: block;
}

input + input {
  margin-top: 2rem;
}

.todos_div {
  margin-top: 2rem;
}

.todo_div {
  display: flex;
  gap: 1em;
  margin-top: 2px;
}

.todo_div button {
  width: 20%;
}
